{% extends 'base.html.twig' %}

{% block title %}Accueil - Russian KGB
{% endblock %}

{% block body %}
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Russian KGB</h1>
			<p>Комитет государственной безопасности<br>
        Tempora voluptatem reiciendis sequi magnam accusantium quos cupiditate!</p>
			{% if is_granted('ROLE_ADMIN') %}
      	<a href="{{ path('admin_home') }}" class="button primary icon fa-superpowers" style="text-transform: uppercase;">Espace administrateur</a>
			{% else %}
      	<a href="{{ path('app_login') }}" class="button primary icon fa-lock" style="text-transform: uppercase;">Se connecter</a>
			{% endif %}
		</div>
	</section>
	<!-- Highlights -->
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Liste des missions en préparation</h2>
			</header>

			<div class="highlights">
				{% for mission in missions %}
					<section>
						<div class="content">
							<header>
								<a href="{{ path('mission_edit', {'id': mission.id }) }}" class="{{ 'icon '~mission.speciality.icon }}"><span class="label">Icon</span></a>
								<h3>{{ mission.title }}</h3>
								<h4>Type : {{ mission.type }}</h4>
							</header>
							<p>{{ mission.description|slice(0, 100) }}...</p>
							<p>Du {{ mission.startDate|date('d/m/Y') }} au {{ mission.endDate|date('d/m/Y') }}</p>
							<h4 class="icon fa-map-marker" style="font-size: 1rem;">&nbsp;{{ mission.nationality.country }}</h4>
							<p><span class="statute-color" style="background-color: {{ mission.statute.color }}"></span>&nbsp;{{ mission.statute.name }}</p>
							<a href="{{ path('mission_edit', {'id': mission.id }) }}" class="button primary small" role="button">En savoir plus</a>
						</div>
					</section>
				{% endfor %}
			</div>	

	<!-- CTA -->
	<section id="cta" class="wrapper">
		<div class="inner">
			<h2>Curabitur ullamcorper ultricies</h2>
			<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
		</div>
	</section>

	<!-- Testimonials -->
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Faucibus consequat lorem</h2>
				<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
			</header>
			<div class="testimonials">
				<section>
					<div class="content">
						<blockquote>
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/pic01.jpg" alt=""/>
							</div>
							<p class="credit">-
								<strong>Jane Doe</strong>
								<span>CEO - ABC Inc.</span>
							</p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/pic03.jpg" alt=""/>
							</div>
							<p class="credit">-
								<strong>John Doe</strong>
								<span>CEO - ABC Inc.</span>
							</p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="images/pic02.jpg" alt=""/>
							</div>
							<p class="credit">-
								<strong>Janet Smith</strong>
								<span>CEO - ABC Inc.</span>
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

{% endblock %}
