{% extends "admin/index.html.twig" %}
{% block table %}
<div class="col-10 col-12-medium">
  <div class="table-wrapper">
    <h3 class="table-title icon fa-caret-right">&nbsp;Section {{ section }}</h3>
    {% for message in app.flashes('message_admin') %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <table>
      <thead>
        <tr>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for agent in agents %}   
          <tr>
            <td>{{ agent.identificationCode }}</td>
            <td>{{ agent.firstname }}</td>
            <td>{{ agent.lastname }}</td>
            <td>{{ agent.dateOfBirth|date('d/m/Y') }}</td>
            <td>{{ agent.nationality|country_name('fr') }}</td>
            <td>
                <a href="{{ path('admin_agent_edit', {'id':agent.id}) }}" class="button small icon fa-pencil" role="button" title="Editer"></a>
                <a href="{{ path('admin_agent_delete', {'id':agent.id}) }}" class="button primary small icon fa-trash" role="button" title="Supprimer" onclick="return confirm('L\'agent {{ agent.firstname }} {{ agent.lastname }} va être définitivement supprimé, ce choix doit être confirmé ?')"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if agents.getTotalItemCount > 8 %}
    <div class="navigation">
      {{ knp_pagination_render(agents) }}
    </div>
  {% endif %}
  <a href="{{ path('admin_agent_new') }}" class="button small icon fa-plus" role="button">&nbsp;Ajouter</a>
</div>
{% endblock %}