<!-- Header -->
<header id="header">
  <img src="{{ asset('images/logo-marteau.png') }}" alt="logo-kgb" style="margin-left:1rem">
  <a class="logo" href="{{ path('home') }}">RUSSIAN KGB</a>
  <nav>
    <a href="#menu">Menu</a>
  </nav>
</header>

<!-- Nav -->
<nav id="menu">
  <ul class="links">
    <li><a href="{{ path('home') }}" class="icon fa-home">&nbsp;Accueil</a></li>
    <li><a href="{{ path('about') }}" class="icon fa-book">&nbsp;À propos</a></li>
    <li><a href="{{ path('mission') }}" class="icon fa-fighter-jet">&nbsp;Nos missions</a></li>
    {% if is_granted('ROLE_ADMIN') %}
      <li><a href="{{ path('admin_home') }}" class="icon fa-superpowers">&nbsp;Administrateur</a></li>  
    {% endif %}
    {% if app.user %}
      <li><a href="{{ path('app_logout') }}" class="icon fa-unlock">&nbsp;Se déconnecter</a></li>  
    {% endif %}
  </ul>
</nav>