{% extends "admin/index.html.twig" %}
{% block table %}
<div class="col-10 col-12-medium">
  <div class="table-wrapper">
    <h3 class="table-title icon fa-caret-right">&nbsp;Section {{ section }}</h3>
    {% for message in app.flashes('message_admin') %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <table>
      <thead>
        <tr>
          {% for key, header in headers %}
            <th>
              <div class="headers">
                {{ header }}
                <div class="sort-buttons">
                  <a href="{{ path('admin_user_list', {'header': key , 'sorting': 'DESC'}) }}" class="icon fa-caret-up" title="Tri décroissant"></a>
                  <a href="{{ path('admin_user_list', {'header': key , 'sorting': 'ASC'}) }}" class="icon fa-caret-down" title="Tri croissant"></a>
                </div>
              </div>
            </th>
          {% endfor %}
          <th>Rôles</th>  
          <th>Actions</th>  
        </tr>
      </thead>
      <tbody>
        {% for adminuser in adminusers %}   
          <tr>
            <td>{{ adminuser.firstname }}</td>
            <td>{{ adminuser.lastname }}</td>
            <td>{{ adminuser.email }}</td>
            <td>
              {% if adminuser.roles|length == 1 %}
                utilisateur
              {% elseif adminuser.roles|length == 2 %}
                administrateur 
              {% endif %}
            </td>
            <td>
              <a href="{{ path('admin_user_edit', {'id':adminuser.id}) }}" class="button small icon fa-pencil" role="button" title="Editer"></a>
              <a href="{{ path('admin_user_delete', {'id':adminuser.id}) }}" class="button primary small icon fa-trash" role="button" title="Supprimer" onclick="return confirm('L\'utilisateur {{ adminuser.firstname }} {{ adminuser.lastname }} va être définitivement supprimé, ce choix doit être confirmé ?')"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if adminusers.getTotalItemCount > 8 %}
    <div class="navigation">
      {{ knp_pagination_render(adminusers) }}
    </div>
  {% endif %}
</div>
{% endblock %}