{% extends 'base.html.twig' %}

{% block title %}Nos missions - Russian KGB{% endblock %}

{% block body %}
	<!-- Heading -->
	<div id="heading">
		<h1>Nos missions</h1>
	</div>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content" style="padding-bottom: 0;">
				<h3 style="text-align:center">Комитет государственной безопасности</h3>
				{{ form_start(searchForm) }}
					<div class="row" style="justify-content: center;">
						<div class="col-3 col-12-small">
							{{ form_row(searchForm.statute) }}
						</div>
						<div class="col-3 col-12-small">
							{{ form_row(searchForm.nationality) }}
						</div>
						<div style="display:flex">
							<div class="col-3 col-12-small">
								{{ form_widget(searchForm.words) }}
							</div>
							<button type="submit" class="button primary icon fa-search" style="font-size: 22px!important;"></button>
						</div>
					</div>
				{{ form_end(searchForm) }}
			</div>
			<div class="highlights">
				{% for mission in missions %}
					<section>
						<div class="content">
							<header>
								<a href="{{ path('mission_edit', {'id': mission.id }) }}" class="{{ 'icon '~mission.speciality.icon }}"><span class="label">Icon</span></a>
								<h3>{{ mission.title }}</h3>
								<h4>Type : {{ mission.type }}</h4>
							</header>
							<p>{{ mission.description|slice(0, 100) }}...</p>
							<p>Du {{ mission.startDate|date('d/m/Y') }} au {{ mission.endDate|date('d/m/Y') }}</p>
							<h4 class="icon fa-map-marker" style="font-size: 1rem;">&nbsp;{{ mission.nationality.country }}</h4>
							<p><span class="statute-color" style="background-color: {{ mission.statute.color }}"></span>&nbsp;{{ mission.statute.name }}</p>
							<a href="{{ path('mission_edit', {'id': mission.id }) }}" class="button primary small" role="button">En savoir plus</a>
						</div>
					</section>
				{% endfor %}
			</div>	
			{% if missions.getTotalItemCount > 8 %}
				<div class="navigation">
					{{ knp_pagination_render(missions) }}
				</div>
			{% endif %}	
		</div>
	</section>
{% endblock %}
