{% extends "admin/index.html.twig" %}
{% block table %}
<div class="col-5 col-12-medium">
  <div class="table-wrapper">
    <h3 class="table-title icon fa-caret-right">&nbsp;Section {{ section }}</h3>
    {% for message in app.flashes('message_admin') %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <table>
      <thead>
        <tr>
          {% for key, header in headers %}
            <th>
              <div class="headers">
                {{ header }}
                <div class="sort-buttons">
                  <a href="{{ path('admin_statute_list', {'header': key , 'sorting': 'DESC'}) }}" class="icon fa-caret-up" title="Tri décroissant"></a>
                  <a href="{{ path('admin_statute_list', {'header': key , 'sorting': 'ASC'}) }}" class="icon fa-caret-down" title="Tri croissant"></a>
                </div>
              </div>
            </th>
          {% endfor %}
          <th>Actions</th>  
        </tr>
      </thead>
      <tbody>
        {% for statute in statutes %}   
          <tr>
            <td id="{{'name_'~statute.id}}">{{ statute.name }}</td>
            <td>
              <div id="{{'color_'~statute.id}}" class="color-display" style="background-color:{{statute.color}}"></div>
            </td>
            <td>
              <a id="{{'btn_'~statute.id}}" class="button small icon fa-pencil btn-edit" role="button" title="Editer" data-id="{{ statute.id }}" data-name="{{ statute.name }}" data-color="{{ statute.color }}"></a>
              <a class="button primary small icon fa-trash btn-delete" role="button" title="Supprimer" data-id="{{ statute.id }}" onclick="return confirm('Le statut {{ statute.name }} va être définitivement supprimé, ce choix doit être confirmé ?')"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="col-5 col-12-medium" style="padding-top: 3rem;">
  <form>
    <input type="hidden" name="inputId" id="inputId" required>
    <label for="inputName">Nom</label>
    <input type="text" name="inputName" id="inputName" required>
    <label for="inputColor">Couleur</label>
    <input type="color" name="inputColor" id="inputColor" required>
    <div class="form-buttons-group">
      <a id="save" class="button primary icon fa-save">Modifier</a>
      <a id="create" class="button icon fa-plus">Ajouter</a>
    </div>
  </form>
</div>
{% endblock %}
